* {
    margin: 0;
}
body {
    background: #f5f5f5;
    font-family: Arial, sans-serif;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background: #2d2d2d;
}   
.brand {
    color: #00d4ff;
    font-size: 24px;
    font-weight: bold;
}
nav {
    display: flex;
    gap: 15px;
}
.nav-btn {
    text-decoration: none;;
    color: white;
    padding: 10px 20px;
    background: #404040;
    border-radius: 6px;
}
.section-title {
    text-align: center;
    font-size: 28px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.about-form {
    max-width: 500px;
    margin: auto;
    background: #232323;
    padding: 25px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.about-form label {
    color: #cccccc;
    font-size: 14px;
}

.about-form input,
.about-form select,
.about-form textarea {
    padding: 10px;
    border-radius: 6px;
    border: none;
    font-size: 15px;
}

.about-form textarea {
    resize: none;
}

.about-form button {
    padding: 12px;
    background: #00d4ff;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.about-form button:hover {
    background: gold;
    color: black;
}
.back-btn {
    display: block;
    margin: 30px auto 0 auto;
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    background: #404040;
    border-radius: 6px;
    text-align: center;
}
