
* {
    margin: 0;
}
body {
    background: #f5f5f5;
    font-family: Arial, sans-serif;

}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background: #2d2d2d;
}
.brand {
    color: #00d4ff;
    font-size: 24px;
    font-weight: bold;
}
.search-input {
    background-color: white;
    color: black;
    height: 24px;
    font-size: 16px;
}
.search-btn {
    height: 28px;
    background-color: #00d4ff;
    cursor: pointer;
}
nav {
    display: flex;
    gap: 15px;
}

.nav-btn {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    background: #404040;
    border-radius: 6px;
}

.nav-btn:hover {
    opacity: 0.8;
}
.product-box {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.product-box:hover {
    transform: translateY(-10px) scale(1.05);
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.5);
}
.section {
    padding: 20px;
}
.dark {
    background: #2d2d2d;
    color: white;
}
.section-title {
    text-align: center;
    margin-bottom: 30px;
    font-size: 28px;
}
.product-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    row-gap: 20px;
}
.product-box {
    background: #232323;
    color: white;
    padding: 15px;
    height: 250px;
    width: 240px;
    border-radius: 10px;
    text-align: center;
}
.product-box img {
    width: 170px;
    height: 160px;
    object-fit: cover;
    border-radius: 8px;
}
.product-price {
    color: gold;
    font-weight: bold;
    margin: 8px 0;
}
.buy-btn {
    padding: 8px 16px;
    background: #00d4ff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.buy-btn:hover {
    background: #0099cc;
}

.product-section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    padding: 25px;
}

.product-card {
    background:#232323;
    color: white;
    border-radius: 12px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 6px 20px rgba(0,0,0,0.3);
    transition: transform 0.3s ease;
}

.product-card:hover {
    transform: translateY(-8px);
}

.product-card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 10px;
}

.product-card h3 {
    margin: 12px 0 5px;
}

.product-card p {
    font-size: 14px;
    color: #ccc;
}

.price {
    display: block;
    font-size: 18px;
    font-weight: bold;
    color: #ffd700;
    margin: 10px 0;
}

.product-card button {
    background: #00d4ff;
    border: none;
    padding: 10px 18px;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.product-card button:hover {
    background: #0099cc;
}
footer {
    text-align: center;
    padding: 15px;
    background: #2d2d2d;
    color: white;
    margin-top: 30px;
}